XML_Schema/commun/commun.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.univ-amu.fr/XML/commun"
	xmlns:com="http://www.univ-amu.fr/XML/commun"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	
	<xs:annotation>
		<xs:documentation>
			Déclaration d'un attribut civilité
		</xs:documentation>
	</xs:annotation>
	
	<!-- Elément Civilité -->
	<xs:element name="civilité">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="M."/>
				<xs:enumeration value="Mme"/>
				<xs:enumeration value="Mlle"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:annotation>
		<xs:documentation>
			Chaine de 50 caractères maximum
		</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="string50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:annotation>
		<xs:documentation>
			Chaine de 100 caractères maximum
		</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="string100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:annotation>
		<xs:documentation>
			Format XX.XX.XX.XX.XX où XX sont des entiers strictements positifs
		</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="formatTéléphoneFax">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{2}\.){4}\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Un prénom usuel est une chaîne de 50 caractère maximum -->
	<xs:element name="prénom-usuel" type="com:string50" />
	<!-- Un prénom complémentaire est une chaîne de 50 caractère -->
	<xs:element name="prénom-complémentaire" type="com:string50" />
	<!-- Un nom est une chaîne de 100 caractère maximum -->
	<xs:element name="nom" type="com:string100" />
	
	<!-- Une adresse contient une précision personnelle optionnel, un complément géographique optionnel,
	une voie contenant :
		un numéro de voie, optionnel,
		un type de voie, optionnel,
		un nom de voie
	un service postal particulier, optionnel,
	une localité contenant :
		un code postal,
		un nom de commune,
		un CEDEX, optionnel
	-->
	<xs:element name="adresse-postale">
        <xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="1">
				<!-- Une précision personnelle est une chaîne de 100 caractères maximum -->
				<xs:element name="précision-personnelle" minOccurs="0" maxOccurs="1" type="com:string100" />
				
				<!-- Le complément géographique est une chaîne de caractère optionnelle -->
				<xs:element name="complément-géographique" minOccurs="0" maxOccurs="1" type="com:string100"/>
								
				<!-- Une voie est obligatoire -->
				<xs:element name="voie" maxOccurs="1">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="1">
							<!-- Le numéro de voie est optionnel et ne peux être négatif -->
							<xs:element name="numéro-voie" minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger" />
								</xs:simpleType>
							</xs:element>
							
							<!-- Le type de voie est obligatoire, et contient une liste de valeurs ci-dessous à choisir -->
							<xs:element name="type-voie" minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<!-- Liste de valeurs possibles, avec 1 choix -->
										<xs:enumeration value="avenue" />
										<xs:enumeration value="boulevard" />
										<xs:enumeration value="rue" />
										<!--   BG PRADAAAP -->
										<xs:enumeration value="allée" />
										<xs:enumeration value="impasse" />
										<xs:enumeration value="carrefour" />
										<xs:enumeration value="chemin" />
										<xs:enumeration value="route" />
										<xs:enumeration value="ruelle" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<!-- Un nom de voie est une chaîne de caractère de taille 100 -->
							<xs:element name="nom-voie" maxOccurs="1" type="com:string100" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<!-- Un service postale est une chaîne de 100 caractères maximum, optionnel -->
				<xs:element name="service-postal" minOccurs="0" maxOccurs="1" type="com:string100" />
				
				<!-- Une localité, obligatoire, composé d'un code postal,
				d'un nom de commune ainsi que d'un CEDEX, optionnel -->
				<xs:element name="localité" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<!-- Un code postal est un entier strictement positif sur exactement 5 chiffres -->
							<xs:element name="code-postal" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:pattern value="(\d){5}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<!-- Un nom de commune est une chaine de 50 caractères maximum -->
							<xs:element name="nom-commune" maxOccurs="1" type="com:string50"/>
							
							<!-- Un CEDEX, optionnel, est une chaîne de 50 caractères maximum -->
							<xs:element name="CEDEX" minOccurs="0" maxOccurs="1" type="com:string50"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<!-- Un pays, optionnel, est une chaîne de 50 caractères maximum -->
				<xs:element name="pays" minOccurs="0" maxOccurs="1" type="com:string50"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    
    <!-- Un numéro de téléphone selon le format Français -->
    <xs:element name="téléphone" type="com:formatTéléphoneFax"/>
    
    <!-- Un numéro de fax selon le format Français -->
    <xs:element name="fax" type="com:formatTéléphoneFax"/>
    
    <!-- Une adresse mail est une chaîne de caractères sous la forme teste@texte.fr avec des règles spécifiques pour texte -->
    <xs:element name="email">
    	<xs:simpleType>
    		<xs:restriction base="xs:string">
    			<!-- REGEX de l'adresse email -->
    			<xs:pattern value="[A-Za-z][A-Za-z0-9.\-_]*[A-Za-z0-9]@[A-Za-z][A-Za-z0-9.\-_]*[A-Za-z0-9]\.[A-Za-z][A-Za-z0-9.\-_]*[A-Za-z0-9]"/>
    			<xs:minLength value="1"/>
    		</xs:restriction>
    	</xs:simpleType>
    </xs:element>
    
    <!-- Une identité est soit la dénomination d'une personne,
    	soit la raison sociale d'une entreprise,
    	soit l'appellation d'une association/organisation -->
    	
    <xs:element name="identité">
    	<xs:complexType>
    		<xs:choice minOccurs="1" maxOccurs="1">
    		
    			<!-- Dénomination d'une personne -->
    			<xs:element name="dénomination-personne">
    				<xs:complexType>
    					<xs:sequence>
    					    <!-- On référence la civilité -->
    					    <xs:element ref="com:civilité"/>
    						<!-- Obligatoire -->
    						<xs:element ref="com:prénom-usuel"/>
    						<!-- Eventuellement de ses prénoms complémentaires -->
    						<xs:element ref="com:prénom-complémentaire" minOccurs="0" maxOccurs="unbounded"/>
    						<!-- Obligatoire -->
    						<xs:element ref="com:nom"/>
    					</xs:sequence>
    				</xs:complexType>
    				<!-- Au sein de la dénomination d'une personne, chaque prénom, usuel ou complémentaires, doit être unique -->
    				<!-- La contrainte d'intégrité doit être portée au niveau de la dénomination d'une personne -->
    				<xs:unique name="prénom-unique">
    					<!-- C'est les prénoms complémentaires et le prénom usuel qui doivent être unique entre eux -->
    					<xs:selector xpath="./com:prénom-usuel | ./com:prénom-complémentaire"/>
    					<!-- Valeur textuelle -->
    					<xs:field xpath="."/>
    				</xs:unique>
    			</xs:element>
    			
    			<!-- La raison sociale d'une entreprise est une chaîne de 100 caractères maximum -->
    			<xs:element name="raisonSociale-entreprise" type="com:string100"/>
    			
    			<!-- L'appellation d'une association/organisation est une chaîne de 100 caractères maximum -->
    			<xs:element name="appellation" type="com:string100"/>
    		</xs:choice>
    	</xs:complexType>
    </xs:element>
    
    <!-- Les coordonnées d'une personne sont soit réduites, soit complètes -->
    <xs:element name="coordonnées">
    	<xs:complexType>
    		<xs:choice>
    			<xs:element ref="com:coordonnées-réduites"/>
    			<xs:element ref="com:coordonnées-complètes"/>
    		</xs:choice>
    	</xs:complexType>
    </xs:element>
    
    <!-- Coordonnées réduites -->
	<xs:element name="coordonnées-réduites">
		<xs:complexType>
			<xs:sequence>
				<!-- Identité obligatoire -->
				<xs:element ref="com:identité"/>
				<!-- Numéro de téléphone obligatoire -->
				<xs:element ref="com:téléphone"/>
				<!-- Numéro de fax, optionnel -->
				<xs:element ref="com:fax" minOccurs="0" maxOccurs="1"/>
				<!-- Une adresse mail, optionnelle -->
				<xs:element ref="com:email" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Coordonnées complètes -->
	<xs:element name="coordonnées-complètes">
		<xs:complexType>
			<xs:sequence>
				<!-- Identité, obligatoire -->
				<xs:element ref="com:identité"/>
				<!-- Adresse postale principale, obligatoire -->
				<xs:element ref="com:adresse-postale"/>
				<!-- Tous ses numéros de téléphone, au moins 1 -->
				<xs:element ref="com:téléphone" minOccurs="1" maxOccurs="unbounded"/>
				<!-- Tous ses numéros de fax, optionnel -->
				<xs:element ref="com:fax" minOccurs="0" maxOccurs="unbounded"/>
				<!-- Toutes ses adresses mail, optionnel -->
				<xs:element ref="com:email" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!-- Au sein des coordonnées complètes, chaque numéro de téléphone doit être unique -->
		<xs:unique name="unique-téléphone">
			<!-- Le numéro doit être unique -->
			<xs:selector xpath="./com:téléphone"/>
			<!-- Les données de calcul sont les valeurs textuelles -->
			<xs:field xpath="."/>
		</xs:unique>
		<!-- Au sein des coordonnées complètes, chaque numéro de fax doit être unique -->
		<xs:unique name="unique-fax">
			<!-- Le numéro de fax doit être unique -->
			<xs:selector xpath="./com:fax"/>
			<!-- Les données de calcul sont les valeurs textuelles -->
			<xs:field xpath="."/>
		</xs:unique>
		<xs:unique name="unique-mail">
			<!-- L'email doit être unique -->
			<xs:selector xpath="./com:email"/>
			<!-- Les données de calcul sont les valeurs textuelles -->
			<xs:field xpath="."/>
		</xs:unique>
	</xs:element>
    
    <xs:annotation>
    	<xs:documentation>
    		Groupe d'éléments contenant une séquence d'éléments destinée pour réutilisation
    	</xs:documentation>
    </xs:annotation>
    <!-- Une personne est définit par une civilité, obligatoire
    	 un prénom usuel, obligatoire,
    	 un ou plusieurs prénoms complémentaires, optionnel
    	 un nom obligatoire -->
    <xs:group name="personne">
    	<xs:sequence>
    		<xs:element ref="com:civilité"/>
    		<xs:element ref="com:prénom-usuel"/>
    		<xs:element ref="com:prénom-complémentaire" minOccurs="0" maxOccurs="unbounded"/>
    		<xs:element ref="com:nom"/>
    	</xs:sequence>
    </xs:group>
</xs:schema>